.tab,
.text {
  position: relative;
  line-height: 24px;
  color: #000;
}
.text {
  flex: 1;
  line-height: 20px;
}
.ic-search-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.textfield {
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 8px;
  gap: 4px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.changemakers,
.navigation {
  position: absolute;
  margin: 0 !important;
  top: 23px;
}
.navigation {
  left: 604px;
  background-color: var(--color-white);
  width: 653px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  z-index: 0;
}
.changemakers {
  left: 274px;
  font-size: 32px;
  letter-spacing: 0.05em;
  line-height: 36px;
  font-family: var(--font-imprint-mt-shadow);
  display: inline-block;
  width: 159px;
  height: 32px;
  flex-shrink: 0;
  z-index: 1;
}
.whatsapp-image-2023-11-20-at-2 {
  position: absolute;
  margin: 0 !important;
  top: 17px;
  left: 222px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  z-index: 2;
}
.top-bar {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
  font-size: var(--font-size-base);
}
.c2af12b5c978e1a0b0d36aed8f0f-1-icon {
  position: absolute;
  top: 86px;
  left: 0;
  width: 1440px;
  height: 974px;
  object-fit: cover;
}
.about-us,
.the-platform-serves {
  position: absolute;
  left: 143px;
  display: inline-block;
}
.about-us {
  top: 207px;
  font-size: 70px;
  line-height: 24px;
  font-weight: 600;
  font-family: var(--font-roboto-serif);
  color: #d73805;
  width: 421px;
  height: 52px;
}
.the-platform-serves {
  top: 286px;
  line-height: 20px;
  width: 1114px;
  height: 83px;
}
.advantages,
.span {
  font-family: var(--font-roboto-serif);
}
.advantages {
  margin: 0;
  font-size: 36px;
}
.blank-line {
  margin: 0;
}
.expanded-donor-pool {
  font-size: var(--font-size-5xl);
  font-weight: 600;
  font-family: var(--font-roboto-serif);
}
.advantages-container {
  position: absolute;
  top: 369px;
  left: 141px;
  line-height: 20px;
  display: inline-block;
  width: 1108px;
  height: 691px;
}
.title,
.title1 {
  position: absolute;
  margin: 0 !important;
  top: 0;
  line-height: 28px;
  height: 100px;
  flex-shrink: 0;
}
.title {
  left: -0.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 406px;
  z-index: 0;
}
.title1 {
  left: 510.5px;
  width: 124px;
  z-index: 1;
}
.container,
.section,
.title1,
.title2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title2 {
  position: absolute;
  margin: 0 !important;
  top: 1px;
  left: 788.5px;
  line-height: 28px;
  width: 196px;
  height: 100px;
  flex-shrink: 0;
  z-index: 2;
}
.container,
.section {
  flex-direction: row;
}
.container {
  width: 1119px;
  height: 100px;
  position: relative;
  gap: 60px;
}
.section {
  position: absolute;
  top: 1060px;
  left: 0;
  background-color: rgba(229, 68, 18, 0.5);
  width: 1440px;
  overflow: hidden;
  padding: 60px;
  box-sizing: border-box;
  text-align: center;
}
.desktop-13 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1280px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-roboto);
}
